/* alef-regular - latin */
@font-face {
  font-family: 'Alef';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/alef-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Alef Regular'), local('Alef-Regular'),
  url('../fonts/alef-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/alef-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/alef-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/alef-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/alef-v11-latin-regular.svg#Alef') format('svg'); /* Legacy iOS */
}